.topnav {
  background-color: rgb(4, 4, 92);
  overflow: hidden;
}
.topnav.a {
  float: left;
  color: azure;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
.topnav.input {
  float: right;
  padding: 6px;
  border: none;
  font-size: 17px;
}
.flex-container {
  padding: 5px;
  border-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
image.img {
  flex-basis: 40%;
  image-resolution: inherit;
  border-style: double;
  border: 10px salmon;
}
p.biography {
  color: azure;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-top: 3em;
}
a {
  color: azure;
  font-size: 15px;
  padding-left: 15px;
  font-family: sans-serif;
  text-decoration: none;
  text-align: left;

}
p {
  color: rgb(232, 3, 3);
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
body {
  background-color: rgb(4, 0, 4);
}
h1 {
  color: azure;
  font-size: 40px;
  text-align: center;
  background-color: rgb(4, 4, 92);
  background-blend-mode: color-burn;
  margin-top: 10px;
  margin-bottom: 0;
}
h2 {
  color: azure;
  font-size: 20px;
  text-align: center;
  background-color: rgb(5, 85, 223);
  margin: 0;
}
h3 {
  color: azure;
  font-size: 25px;
  justify-content: left;
  display: flex;
  float: left;

}
.apple {
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-content: space-around;
  align-items: left;
  flex-direction: row;
  float: left;
}
.apple-text {
  float: left;
  display: flex;
  font-size: 13px;
  text-align: flex;
  flex-direction: row;
  color: azure;
}
.Samsung {
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-content: space-around;
  align-items: left;
  flex-direction: row;
  float: left;
  flex-wrap: wrap;
}
.samsung-text {
  float: left;
  display: flex;
  font-size: 13px;
  text-align: flex;
  color: azure;
  flex-wrap: wrap;
  flex-direction: row;
}

.Google {
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-content: space-around;
  align-items: left;
  flex-direction: row;
  float: left;
  flex-wrap: wrap;
}
.google-text {
  float: left;
  display: flex;
  font-size: 10px;
  text-align: flex;
  color: azure;
  flex-wrap: wrap;
  flex-direction: row;

}

