.topnav {
  background-color: rgb(4, 4, 92);
  overflow: hidden;
}
a.topnav {
  float: left;
  color: azure;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
input.topnav {
  float: center;
  padding-left: 3px;
  border: none;
  font-size: 17px;
  background-color: azure;
  margin-left: 45px;

}
.flex-container {
  padding: 5px;
  border-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
img.image {
  flex-basis: 40%;
  image-resolution: inherit;
  border-style: double;
  border: 10px salmon;
}
p.biography {
  color: azure;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  margin-top: 4em;
  height: 500px;
  background-image: url("images/Rectangle 10.png");
  background-size: cover;
  line-height: 150px;
}
a {
  color: azure;
  font-size: 15px;
  padding-left: 15px;
  font-family: sans-serif;
  text-decoration: none;
  text-align: left;
}
p {
  color: azure;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
body {
  background-color: rgb(4, 0, 4);
  background-image: url("images/MicrosoftTeams-image.png");
  background-attachment: fixed;
}

h1 {
  color: azure;
  font-size: 40px;
  text-align: center;
  background-color: rgb(4, 4, 92);
  background-blend-mode: color-burn;
  margin-top: 10px;
  margin-bottom: 0;
}
h2 {
  color: azure;
  font-size: 20px;
  text-align: center;
  background-color: rgb(5, 85, 223);
  margin: 0;
}
.apple {
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-content: space-around;
  align-items: left;
  flex-direction: row;
  float: left;
  @media screen and (max-width: 700px) {
    column-count: 2;
  }
}

.Samsung {
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-content: space-around;
  align-items: left;
  flex-direction: row;
  float: left;
  flex-wrap: wrap;
  @media screen and (max-width: 700px) {
    column-count: 2;
  }
}

.Google {
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-content: space-around;
  align-items: left;
  flex-direction: row;
  float: left;
  flex-wrap: wrap;
  @media screen and (max-width: 700px) {
    column-count: 2;
  }
}
h3.brand {
  color: azure;
  font-size: 25px;
  justify-content: center;
  text-align: center;
}
.apple-computers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-content: space-around;
  align-items: left;
  flex-direction: row;
  float: left;
  @media screen and (max-width: 700px) {
    column-count: 2;
  }}
.laptops {
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-content: space-around;
  align-items: left;
  flex-direction: row;
  float: left;
  @media screen and (max-width: 700px) {
    column-count: 2;
  }}
.Gaming {
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-content: space-around;
  align-items: left;
  flex-direction: row;
  float: left;
  @media screen and (max-width: 700px) {
    column-count: 2;
  }
}

h1.welcomepage {
  color: azure;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  background-color: transparent;
  background-blend-mode: color-burn;
}
body.welcomepage {
  background-color: rgb(4, 0, 4);
  background-image: url("images/4884841 1.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.custform {
  background-color: rgb(5, 85, 223);
  background-blend-mode: color-burn;
  color: azure;
  float:inline-start;
  margin-right: 150px;
}
.customer-info {
  justify-content: right;
  float: inline-end;
  margin-right: 150px;
  color: azure;
  background-color: rgb(5, 85, 223);
  background-blend-mode: color-burn;
  border: solid azure;
}
p.customer-info {
  color: azure;
}