.topnav {
  background-color: rgb(4, 4, 92);
  overflow: hidden;
}
.topnav.a{
  float: left;
  color: azure;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  margin-left: 15px;
  margin-right: 15px
}
.topnav input {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.flex-container {
  padding: 5px;
  border-color: blue;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  text-align: left;
  
}
.image.img {
  flex-basis: 40%;
  image-resolution:inherit;
  border-style: double;
  border: 10px salmon;
}

a {
  color: azure;
  font-size: 25px;
  padding-left: 15px;
  font-family:sans-serif;
  text-decoration: none;
  text-align: left;
  
}
p{
 color: rgb(232, 3, 3);
 text-align: center;
 font-family: 'Times New Roman', Times, serif;
 font-size: 18px;

}
body {
  background-color: rgb(4, 0, 4);
}
h1 {
  color: azure;
  font-size: 40px;
  text-align: center;
  text-decoration: dotted;
}

